.root {
    -fx-font-family: "Helvetica";
    -fx-background: rgb(239, 249, 255);
}
.table-view .column-header {
    -fx-background-color: transparent;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #FEFEFE;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #FAFAFA;
}

.table-row-cell:selected {
    -fx-background-color: #5998ff;
}